@using webenology.blazor.components.shared
@typeparam TValue

<div class="webenology_drop-down-wrapper" @ref="_el">
    <div class="drop-down-input-wrapper">
        <input type="text" class="drop-down-input" @onkeydown="OnKeyDown" @onclick="SetActive" @bind="Search" @bind:event="oninput" @bind:after="DoFilter" />
        @if (SelectedItem != null)
        {
            <i @onclick="UnSelect" class="unselect mdi mdi-close"></i>
        }
        <div class="drop-down-arrow" @onclick="SetToggle">
            <i class="mdi mdi-chevron-down"></i>
        </div>
    </div>
    <div class="drop-down-body @(isActive ? "active" : "")">
        @foreach (var i in GetSearched())
        {
            if (ItemContent != null)
            {
                <div @key="i" @onclick="() => _onSelected(i)"
                     class="item @(i.IsSelected ? "selected" : "") @(i.IsDisabled ? "disabled" : "")">
                    @ItemContent(i)
                </div>
            }
            else
            {
                <div @key="i" @onclick="() => _onSelected(i)"
                     class="item @(i.IsSelected ? "selected" : "") @(i.IsDisabled ? "disabled" : "")">
                    @((MarkupString)i.Value.Highlight(Search))
                </div>
            }
        }
        @if (showAdd && OnAddNew.HasDelegate)
        {
            <div class="add">
                Add "<span>@Search</span>"
            </div>
        }
    </div>
</div>
