@namespace webenology.blazor.components.dropdown
@using webenology.blazor.components.shared
@using webenology.blazor.components.OutsideClickComponent
@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TValue

<div style="display:inline-block;width:100%;" class="@BaseCssClass">
    <OutsideClick class="webenology_drop-down-wrapper" OnLoseFocus="OnOutsideClick">
        <div class="drop-down-input-wrapper" @ref="el">
            <input type="text" disabled="@IsDisabled" class="drop-down-input" placeholder="@Placeholder" @onkeydown="OnKeyDown" @onkeydown:stopPropagation="true" @onclick="SetActive" @bind="Search" @bind:event="oninput" @bind:after="DoFilter" />
            @if (SelectedItem != null)
            {
                <i @onclick="UnSelect" class="unselect mdi mdi-close"></i>
            }
            <div class="drop-down-arrow" @onclick="SetToggle">
                <i class="mdi mdi-chevron-down"></i>
            </div>
        </div>
        <div class="drop-down-body @(isActive ? "active" : "")">
            <Virtualize OverscanCount="5" Items="@(_filtered ?? new())" Context="i">
                @if (ItemContent != null)
                {
                    <div @key="i" @onclick="() => _onSelected(i)"
                         class="item @(i.IsSelected ? "selected" : "") @(i.IsDisabled ? "disabled" : "")">
                        @ItemContent(i)
                    </div>
                }
                else
                {
                    <div @key="i" @onclick="() => _onSelected(i)"
                         class="item @(i.IsSelected ? "selected" : "") @(i.IsDisabled ? "disabled" : "")">
                        @((MarkupString)i.Value.Highlight(_searchText))
                    </div>
                }
            </Virtualize>
            @if (OnAddNew.HasDelegate)
            {
                <div class="add" @onclick="OnAddNewItem" style="position:sticky;bottom:0px;background-color:white;border-top:2px solid #ccc">
                    @if (CanShowAddNew())
                    {

                        <span @onclick="OnAddNewItem" style="width:100%;font-style:normal">
                            Add <div style="display:inline-block; border:1px solid #ccc; padding:0.5px 3px; background-color:#efefef; color:rgb(99 102 241); border-radius:6px">@Search</div> Click or CTRL + Enter
                        </span>
                    }
                    else
                    {
                        <text>&nbsp;</text>
                    }
                </div>
            }
        </div>
    </OutsideClick>
</div>
