@namespace webenology.blazor.components

<CascadingValue Value="this">
    <div class="@CssStyle.TabContainerCss">
        <ul class="@CssStyle.TabListCss">
            @foreach (var tab in TabPages)
            {
                <li class="@CssStyle.TabListItemCss">
                    <a class="@CssStyle.TabLinkCss @(ActivePage == tab ? CssStyle.ActiveTabCss: "")" href="javascript:;" @onclick="@(_ => ActivatePage(tab))">@tab.Title</a>
                </li>
            }
        </ul>
        <div class="@CssStyle.TabContentContainerCss">
            @ChildContent
        </div>
    </div>
</CascadingValue>

