@namespace webenology.blazor.components

<CascadingValue Value="this">
    <div class="@Style.TabContainerCss">
        <ul class="@Style.TabListCss">
            @foreach (var tab in TabPages)
            {
                <li class="@Style.TabListItemCss">
                    <a class="@Style.TabLinkCss @(ActivePage == tab ? Style.ActiveTabCss: "")" href="javascript:;" @onclick="@(_ => ActivatePage(tab))">@tab.Title</a>
                </li>
            }
        </ul>
        <div class="@Style.TabContentContainerCss">
            @ChildContent
        </div>
    </div>
</CascadingValue>

