@namespace webenology.blazor.components
@typeparam TValue

<div class="@CssStyle.DatePickerHolderCss">
    <label class="@CssStyle.DatePickerLabelCss">@Label</label>
    <div class="@(IsInline ? "" : CssStyle.InputGroupCss)">
        <input type="text" @attributes="Attributes" @ref="_inputRef" value="@DateTimeStr" class="@Css()" disabled="@IsDisabled()"/>
        @if (!IsInline)
        {
            <div @onmouseover="@(() => MovingMouse = true)" @onmouseout="@(() => MovingMouse = false)" class="@CssStyle.CalendarIconHolderCss @(_isError ? CssStyle.CalendarIconHolderErrorCss : "")" @onclick="OpenOrClear">

                @if (!_isUnlocked)
                {
                    <i class="@(CanUnlockReadonly ? MovingMouse ? CssStyle.UnlockIcon : CssStyle.LockIcon : CssStyle.CantUnlockIcon)"></i>
                }
                else if (string.IsNullOrEmpty(DateTimeStr))
                {
                    <i class="@CssStyle.CalendarIcon"></i>
                }
                else
                {
                    <i class="@CssStyle.CalendarClearIcon"></i>
                }
            </div>
        }
        @if (_isError)
        {
            <div class="@CssStyle.InputErrorIconHolderCss">
                <i class="@CssStyle.InputErrorIconCss"></i>
            </div>
        }
    </div>
    @if (_isError)
    {
        <div class="@CssStyle.ErrorMessageCss">
            @_errorMessage
        </div>
    }
</div>