@namespace webenology.blazor.components
@typeparam TValue

<div class="@Style.DatePickerHolderCss">
    <label class="@Style.DatePickerLabelCss">@Label</label>
    <div class="@Style.InputGroupCss">
        <input type="text" @attributes="Attributes" @ref="_inputRef" value="@DateTimeStr" class="@Css()" />
        @if (_isError)
        {
            <div class="@Style.InputErrorIconHolderCss">
                <i class="@Style.InputErrorIconCss"></i>
            </div>
        }
    </div>
    @if (_isError)
    {
        <div class="@Style.ErrorMessageCss">
            @_errorMessage
        </div>
    }
</div>
