@inherits DropDownBase

<div class="flex flex-col mr-8">
    <select class="@Css()" value="@Value" @onchange="onChangeValue">
        @if (ShowEmpty)
        {
            <option value="@EmptyValue">@EmptyText</option>
        }
        @if (Items != null)
        {
            foreach (var i in Items)
            {
                <option value="@i.Value">@i.Key</option>
            }
        }
    </select>
    @if (IsError)
    {
        <label class="error">
            @ErrorMessage
        </label>
    }
</div>

