@page "/"
@using System.Text.Json
@using webenology.blazor.components.ComboBoxComponents
@using webenology.blazor.components.ModalComponent
@using webenology.blazor.components.NotificationComponent
@using webenology.blazor.components.OrderByComponent
@using webenology.blazor.components.ConfirmComponent


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>
@* 
<WebenologyDatePicker @bind-DateRange="Dates" BlackoutDates="new List<DateTime> { DateTime.Today}"
                      />
Date: @Date

<MapAutocomplete ApiKey="" DefaultSearch="23 conne" OnSelectAddress="SetAddress" />
@if (_address != null)
{
    @JsonSerializer.Serialize(_address);
}


<WebNumberInput TValue="int?" Label="This is a number!" @bind-Number="_num" Max="4" Readonly="true"></WebNumberInput>

<WebTextInput HighlightOnFocus="true" @bind-Text="_myhightlightvalue" Readonly="true"></WebTextInput>

<Button ViewType="Button.ButtonType.Primary" Text="Open Modal" OnClick="@(() => _modal.OpenModal())"></Button>
<Button ViewType="Button.ButtonType.Success" Text="Open Modal 2" OnClick="@(() => _modal2.OpenModal())"></Button>
<Button ViewType="Button.ButtonType.Secondary" Text="Show Confirm" OnClick="@(() => _confirm.ShowConfirm("Question!", "Do you like this?"))" ButtonSecondaryCss="btn-secondary"></Button>
<Modal @ref="_modal" Size="Modal.ModalSize.Default" HeaderTitle="Groot" SubHeaderTitle="I am Groot">
    <BodyContent>this is the body</BodyContent>
    <FooterContent>this is the footer!</FooterContent>
</Modal>

<Modal @ref="_modal2" Size="Modal.ModalSize.Default" HeaderTitle="Groot" SubHeaderTitle="I am Groot">
    <HeaderContent>this is just a header</HeaderContent>
    <BodyContent>this is the body</BodyContent>
    <FooterContent>this is the footer!</FooterContent>
</Modal>

<Confirm @ref="_confirm" CssStyle="@confirmStyle()"></Confirm>

<div>
    inside click: @_insideClick
    <div style="border:1px solid black">
        <table>
            <OutsideClick Type="" OnOutsideClick="@(() => _insideClick = false)" OnInsideFocus="@(() => _insideClick = true)">
                <td style="background-color: blue;color: white">
                    hello click anywhere inside here !
                </td>
            </OutsideClick>
        </table>
    </div>
</div>

myvalue: @_myvalue
<br/>
selectedItem: @_selectedItem
<ComboBox Items="items" TItem="KeyValuePair<string, string>" ValueFieldName="Value" SelectedItem="_selectedItem"
          PlaceHolder="Search for a number..." OnSelectedItem="@((x) => _selectedItem = x)"
          ShowRemoveButton="true" OnCreateNewItem="AddNewItem" ValueChanged="@((x) => _myvalue = x)"
          Readonly="false">
</ComboBox>

<DropDown Items="items" ShowEmpty="true" Readonly="true"></DropDown>

<Tabs>
    <Tab Title="tab 1" Badge="1">
        <h1>this is a tab</h1>
    </Tab>
    <Tab Title="tab 2">
        <h2>this is the second tab</h2>
    </Tab>
    <Tab Title="tab 3">
        <h2>this is the third tab</h2>
    </Tab>
    <Tab Title="tab 4">
        <h2>this is the fourth tab</h2>
    </Tab>
    <Tab Title="tab 5">
        <h2>this is the fifth tab</h2>
    </Tab>
</Tabs>

<TreeView TreeNodes="_nodes" StartExpanded="true" AllowSelectAll="true" OnNodeSelectionChange="onSelected"/>


<WebTextInput @bind-Text="_text"></WebTextInput>
<br/>

Selected Value @_checkedValue
<RadioButton TItem="string" CheckedValue="@("All")" Name="is-checked" @bind-Value="_checkedValue"></RadioButton> All
<RadioButton TItem="string" CheckedValue="@("None")" Name="is-checked" @bind-Value="_checkedValue"></RadioButton> None
<RadioButton TItem="string" CheckedValue="@("Some")" Name="is-checked" @bind-Value="_checkedValue"></RadioButton> Some
<br/>
<br/>
<Notification @ref="_notification"></Notification>
<Button OnClick="AddNotification" Text="add notification"></Button>

<div>this is the order by stuff</div>

<OrderByContainer InputList="_orderByClasses" Context="itm" TValue="Data.OrderByClass" AllowSortToReset="true">
    <table class="table">
        <tr>
            <th>
                <OrderBy FieldName="Name" FieldText="The Name" TValue="Data.OrderByClass"/>
            </th>
            <th>
                <OrderBy FieldName="Age" FieldText="The Age" TValue="Data.OrderByClass"/>
            </th>
        </tr>
        @foreach (var i in itm)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.Age</td>
            </tr>
        }
    </table>
</OrderByContainer>

<div>This is pdf generation</div>
<button class="btn btn-primary" @onclick="GeneratePdf">Generate PDF</button>
<button class="btn btn-primary" @onclick="GeneratePdfFromDocx">Generate PDF from Word Document</button>
<embed style="width: 100%; height: 650px;" src="data:application/pdf;base64,@_pdfPreview"> *@

<JoditEditor @bind-Value="_text" IsHtml="false" MergeTags="typeof(Tags)" />

<div>
    text: @_text
</div>
<div>This is metabase generator</div>

@* <MetabaseEmbed JwtParameters="_metabaseData" IsDashboard="false" BaseUrl="https://mtreports.createdbywebenology.com" SecretKey="25a182fbfa028e44ce59c50b0971c6d0abd0e8e87ea5974786a59f2891756fbc" IsBordered="false" IsTitled="false" Height="calc(100vh - 400px)" Width="80vw" ResourceId="1"/> *@
