@page "/"
@using System.Security.Cryptography.X509Certificates

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<WebNumberInput TValue="int?" Label="This is a number!" @bind-Number="_num" Max="4"></WebNumberInput>

<WebTextInput HighlightOnFocus="true" @bind-Text="_myhightlightvalue"></WebTextInput>

<Button ViewType="Button.ButtonType.Primary" Text="Open Modal" OnClick="@(()=>_modal.OpenModal())"></Button>
<Button ViewType="Button.ButtonType.Success" Text="Open Modal 2" OnClick="@(()=>_modal2.OpenModal())"></Button>
<Button ViewType="Button.ButtonType.Secondary" Text="Show Confirm" OnClick="@(()=> _confirm.ShowConfirm("Question!","Do you like this?"))" ButtonSecondaryCss="btn-secondary"></Button>
<Modal @ref="_modal" Size="Modal.ModalSize.Default" HeaderTitle="Groot" SubHeaderTitle="I am Groot">
    <BodyContent>this is the body</BodyContent>
    <FooterContent>this is the footer!</FooterContent>
</Modal>

<Modal @ref="_modal2" Size="Modal.ModalSize.Default" HeaderTitle="Groot" SubHeaderTitle="I am Groot">
    <HeaderContent>this is just a header</HeaderContent>
    <BodyContent>this is the body</BodyContent>
    <FooterContent>this is the footer!</FooterContent>
</Modal>

<Confirm @ref="_confirm" CssStyle="@confirmStyle()"></Confirm>

<div>
    inside click: @_insideClick
    <div style="border:1px solid black">
        <OutsideClick OnOutsideClick="@(()=> _insideClick = false)" OnInsideFocus="@(()=> _insideClick = true)">
            hello click anywhere inside here !
        </OutsideClick>
    </div>
</div>

myvalue: @_myvalue
<br />
selectedItem: @_selectedItem
<ComboBox Items="items" TItem="KeyValuePair<string,string>" ValueFieldName="Value" SelectedItem="_selectedItem"
          PlaceHolder="Search for a number..." OnSelectedItem="@((x)=>_selectedItem = x)"
          ShowRemoveButton="true" OnCreateNewItem="AddNewItem" ValueChanged="@((x)=> _myvalue = x)"></ComboBox>

<DropDown Items="items" ShowEmpty="true"></DropDown>

<DatePicker Label="dt here" @bind-Date="_dt"></DatePicker>

<Tabs>
    <Tab Title="tab 1" Badge="1">
        <h1>this is a tab</h1>
    </Tab>
    <Tab Title="tab 2">
        <h2>this is the second tab</h2>
    </Tab>
    <Tab Title="tab 3">
        <h2>this is the third tab</h2>
    </Tab>
    <Tab Title="tab 4">
        <h2>this is the fourth tab</h2>
    </Tab>
    <Tab Title="tab 5">
        <h2>this is the fifth tab</h2>
    </Tab>
</Tabs>

<TreeView TreeNodes="_nodes" StartExpanded="true" AllowSelectAll="true" OnNodeSelectionChange="onSelected" />



<WebTextInput @bind-Text="_text"></WebTextInput>

<Notification @ref="_notification"></Notification>
<Button OnClick="AddNotification" Text="add notification"></Button>







