@namespace webenology.blazor.components

@if (!_isHidden)
{
    <div class="@GetCss()" @onclick="Close" @onmouseover="onPause" @onmouseout="onStart">
        @if (!string.IsNullOrEmpty(Model.Header))
        {
            <div class="@_notification.CssStyle.ItemHeaderCss">@Model.Header</div>
        }
        <div class="@_notification.CssStyle.ItemBodyCss">@Model.Body</div>
        @if (Model.ShowTimeoutBar)
        {
            <div class="@_notification.CssStyle.ItemBarCss">
                <div class="@_notification.CssStyle.ItemBarColorCss" style="@GetBarStyle()"></div>
            </div>
        }
    </div>
}
