@namespace webenology.blazor.components
@typeparam TValue

<div class="@CssStyle.FormGroupCss">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="@CssStyle.FormGroupLabelCss">@Label</label>
    }
    <div class="@CssStyle.InputGroupCss">
        <input type="number" @bind="LocalText" class="@InputCss()" @attributes="_attributes" @ref="_el" @onfocus="DoFocus" />
        @if (_isError)
        {
            <span class="@ErrorCss()">
                <i class="@CssStyle.InputGroupAddonIconCss"></i>
            </span>
        }
    </div>
    @if (_isError)
    {
        <label class="@CssStyle.ErrorCss">
            @_errorMessage
        </label>
    }
</div>
