@namespace webenology.blazor.components

<div class="@CssStyle.BackdropCss @(_isOpen ? "": CssStyle.HideCss)">
    <div class="@CssStyle.CardCss @(_isOpen ? CssStyle.BoundInCss: "")">
        @if (!string.IsNullOrEmpty(_header))
        {
            <div class="@CssStyle.CardHeaderCss">
                @_header
            </div>
        }
        <div class="@CssStyle.CardBodyCss">
            @_content
        </div>
        <div class="@CssStyle.CardFooterCss">
            @if (_showCancel)
            {
                <button type="button" class="@CssStyle.CancelButtonCss" @onclick="@(()=> Execute(_onCancel))" disabled="@_isSaving">@cancel</button>
            }
            @if (_showNo)
            {
                <button type="button" class="@CssStyle.NoButtonCss" @onclick="@(()=> Execute(_onNo))" disabled="@_isSaving">@no</button>
            }
            <button type="button" class="@CssStyle.YesButtonCss" @onclick="@(()=> Execute(_onYes))" disabled="@_isSaving">
                @if (_isSaving)
                {
                    <i class="mdi mdi-spin mdi-loading" style="margin-right: 2px"></i>
                }
                @yes
            </button>
        </div>
    </div>
</div>
