@namespace webenology.blazor.components

<div class="@CssStyle.BackdropCss @(_isOpen ? "": CssStyle.HideCss)">
    <div class="@CssStyle.CardCss @(_isOpen ? CssStyle.BoundInCss: "")">
        @if (!string.IsNullOrEmpty(_header))
        {
            <div class="@CssStyle.CardHeaderCss">
                @_header
            </div>
        }
        <div class="@CssStyle.CardBodyCss">
            @_content
        </div>
        <div class="@CssStyle.CardFooterCss">
            <button class="@CssStyle.CancelButtonCss" @onclick="@(()=> Execute(_onCancel))">Cancel</button>
            <button class="@CssStyle.NoButtonCss" @onclick="@(()=> Execute(_onNo))">No</button>
            <button class="@CssStyle.YesButtonCss" @onclick="@(()=> Execute(_onYes))">Yes</button>
        </div>
    </div>
</div>
