@namespace webenology.blazor.components

<div class="@Style.BackdropCss backdrop @(_isOpen ? "": Style.HideCss)">
    <div class="@Style.CardCss @(_isOpen ? Style.BoundInCss: "")">
        @if (!string.IsNullOrEmpty(_header))
        {
            <div class="@Style.CardHeaderCss">
                @_header
            </div>
        }
        <div class="@Style.CardBodyCss">
            @_content
        </div>
        <div class="@Style.CardFooterCss">
            <button class="@Style.CancelButtonCss" @onclick="@(()=> Execute(_onCancel))">Cancel</button>
            <button class="@Style.NoButtonCss" @onclick="@(()=> Execute(_onNo))">No</button>
            <button class="@Style.YesButtonCss" @onclick="@(()=> Execute(_onYes))">Yes</button>
        </div>
    </div>
</div>
