@namespace webenology.blazor.components

<div class="@CssStyle.WebFormGroupCss">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="@CssStyle.LabelCss">@Label</label>
    }
    <div class="@CssStyle.WebInputGroupCss">
        <input type="@InputType" value="@Text" @oninput="InvokeTextChange" class="@Css()" placeholder="@PlaceHolder" @onfocus="DoOnFocus" @ref="_el" />
        @if (_isError)
        {
            <span class="@CssStyle.WebInputGroupTextCss">
                <i class="@CssStyle.WebInputGroupTextIconCss"></i>
            </span>
        }
    </div>
    @if (_isError)
    {
        <label class="@CssStyle.ErrorMessageCss">
            @_errorMessage
        </label>
    }
</div>
