@namespace webenology.blazor.components

<div class="@Style.WebFormGroupCss">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="@Style.LabelCss">@Label</label>
    }
    <div class="@Style.WebInputGroupCss">
        <input type="text" @bind="LocalText" @bind:event="oninput" class="@Css()" placeholder="@PlaceHolder" />
        @if (_isError)
        {
            <span class="@Style.WebInputGroupTextCss">
                <i class="@Style.WebInputGroupTextIconCss"></i>
            </span>
        }
    </div>
    @if (_isError)
    {
        <label class="@Style.ErrorMessageCss">
            @_errorMessage
        </label>
    }
</div>
