@namespace webenology.blazor.components

<div class="@CssStyle.WebFormGroupCss">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="@CssStyle.LabelCss">@Label</label>
    }
    <div class="@CssStyle.WebInputGroupCss">
        <input type="text" @bind="LocalText" @bind:event="oninput" class="@Css()" placeholder="@PlaceHolder" />
        @if (_isError)
        {
            <span class="@CssStyle.WebInputGroupTextCss">
                <i class="@CssStyle.WebInputGroupTextIconCss"></i>
            </span>
        }
    </div>
    @if (_isError)
    {
        <label class="@CssStyle.ErrorMessageCss">
            @_errorMessage
        </label>
    }
</div>
